//筛选
.screen {
  .screen_kuai {
    position: relative;
    z-index: 10;
    // 头部列表
    .screen_top {
      background-color: #fff;
      align-items: center;
      height: 40px;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #ddd;
      div {
        font-size: 17px;
        color: #484848;
        margin-right: 5px;
        i {
          color: #bbbbbb;
          font-size: 14px;
        }
      }
    }
  }
}
.PickerView{
  background-color: #fff;
  position: relative;
  z-index: 10;
}
// 选中样式
.active {
  color: #21b97a !important;
}
.xuanzeqr {
  height: 50px;
  width: 100%;
  .zanwei {
    height: 15px;
    background-color: #fff;
  }
  .bottom {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-top: 1px solid #efefef;
    div {
      text-align: center;
      height: 100%;
      line-height: 50px;
      color: #fff;
    }
    .bottom_cancel {
      flex: 2;
      background-color: #fff;
      color: #21b97a;
    }
    .bottom_affirm {
      flex: 3;
      background-color: #21b97a;
    }
  }
}
// 第四个筛选
.huadong {
  .huadong_cacao {
    width: 100%;
    height: 100%;
    .huadong_content {
      height: calc(100% - 50px);
      padding: 0 20px;
      overflow: auto;
      .huadong_item {
        border-bottom: 1px solid #eaeaea;
        .item_title {
          padding: 20px 0;
          font-size: 16px;
          color: #333;
        }
        .item_content {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-around;
          div {
            color: #939393;
            font-size: 12px;
            padding: 10px 20px;
            border: 1px solid #e4e4e4;
            border-radius: 4px;
            margin: 0 15px 15px 0;
          }
        }
      }
    }

    .btn {
      display: flex;
      height: 50px;
      align-items: center;
      font-size: 16px;
      border-top: 1px solid #efefef;
      div {
        text-align: center;
        height: 100%;
        line-height: 50px;
        color: #fff;
      }
      .quxiao {
        flex: 1.5;
        background-color: #fff;
        color: #21b97a;
      }
      .queren {
        flex: 2.5;
        background-color: #21b97a;
      }
    }
  }
}
// 遮罩层
.zzc {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  background-color: rgb(49, 44, 44);
  opacity: 0.5;
}
//遮罩层的层级高的样式
.gaocj{
  z-index: 8 !important;
}
//筛选第四项选中的样式
.active_four{
  color: #21b97a;
  background-color: #defaef;
  border: 1px solid #21b97a;
}