.index_nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  .nav_item {
    // flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      margin-top: 6px;
      margin-bottom: 5px;
    }
    p {
      margin: 5px 0;
      font-size: 12px;
    }
  }
}
// 租房小组
.zufangxz {
  margin: 10px;
  //   border: 1px solid red;
  .zu_title {
    h4 {
      margin: 0;
      font-size: 16px;
    }
    a {
      color: #787d82;
    }
    margin: 0 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .zu_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .zf_item {
      flex: 35%;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 10px;
      }
      &:nth-child(2n) {
        margin-left: 10px;
      }
      .left {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 20px 20px 15px;
        span {
          &:first-child {
            font-weight: 700;
            margin-bottom: 10px;
            color: #333;
            font-size: 14px;
          }
          color: #999;
          font-size: 12px;
        }
      }
      .right {
        flex: 0.5;
        display: flex;
        justify-content: center;
        img {
          width: 10vw;
        }
      }
    }
  }
}
// 资讯
.zixun {
  background-color: #fff;
  padding: 0 15px;
  .zixun_title {
    h4 {
      margin: 0;
      font-size: 17px;
      padding: 15px;
    }
  }
  .zixun_item {
    display: flex;
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
    &:nth-child(2){
        padding-top:0
    }
    .img {
      flex: 0.3;
      img {
        width: 100%;
      }
    }
    .zixun_wenzi {
      flex: 0.7;
      display: flex;
      margin-left: 10px;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      h4 {
        margin: 0;
        font-size: 15px;
      }
      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #999;
      }
    }
  }
}
